@font-face {
    font-family: 'Acme-Regular';
    src: url('acme.ttf?t=1575537109643') format('truetype');
}
@font-face {
    font-family: 'AgencyFB-Reg';
    src: url('AgencyFB.ttf?t=1575537109643') format('truetype');
}
@font-face {
    font-family: 'Arual';
    src: url('Arual.ttf?t=1575537109643') format('truetype');
}
@font-face {
    font-family: 'Comfortaa';
    src: url('Comfortaa.ttf?t=1575537109643') format('truetype');
}
@font-face {
    font-family: 'Montepetrum';
    src: url('Montepetrum.ttf?t=1575537109643') format('truetype');
}
@font-face {
    font-family: 'PangMenZhengDao';
    src: url('PangMenZhengDao.ttf?t=1575537109643') format('truetype');
}
@font-face {
    font-family: 'VfFree77';
    src: url('VfFree77.ttf?t=1575537109643') format('truetype');
}
@font-face {
    font-family: 'HuXiaoBoKuHei';
    src: url('HuXiaoBoKuHei.ttf?t=1575537109643') format('truetype');
}
@font-face {
    font-family: "Let's go Digital";
    src: url("Let's go Digital.ttf?t=1575537109643") format('truetype');
}
@font-face {
    font-family: 'TRS Million';
    src: url('trsMillionRG.ttf?t=1575537109643') format('truetype');
}
